ReplicaNumber: 3

probes:
  readiness:
    httpGet:
      path: /health/readiness
      port: 8081
      scheme: HTTP   
    initialDelaySeconds: 1
    timeoutSeconds: 1 # the time for timeout
    periodSeconds: 10 # the abount of time to wait between checks
    successThreshold: 1 # count to decalre seccessfull 
    failureThreshold: 3 # count to decalre failure
  liveness:
    httpGet:
      path: /health/liveness
      port: 8081
      scheme: HTTP
    initialDelaySeconds: 1
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 3

containers:
  containerPort: 8081
  image: 'quay.io/noam_kazum/hello'
  tag: 'chart_v1'

service:
  servicePort: 8081